.LoginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.LoginButton {
    width: 100%;
    cursor: pointer;
}

.LoginWrapper > * > * {
    margin-top: 1rem;
}